In [4]:
#Importing Basic Librarires
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
#Mounting Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [6]:
#Importing test and train data
test_data=pd.read_csv('/content/gdrive/MyDrive/test.csv')
df=pd.read_csv('/content/gdrive/MyDrive/train.csv')

In [7]:
X=df.drop(columns=['labels'])
X.shape

(5250, 1200)

In [8]:

Y=df['labels']

In [9]:
ids=test_data['id']

In [10]:
test_data=test_data.drop(columns=['id'])

In [11]:
#Applying Scaling
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X=scaler.fit_transform(X)
test_data=scaler.transform(test_data)

In [12]:
from sklearn.feature_selection import SelectKBest, f_classif
selector = SelectKBest(score_func=f_classif, k=900)
X = selector.fit_transform(X, Y)
test_data=selector.transform(test_data)

In [13]:
X

array([[-2.60426628,  0.99197232, -0.47376538, ..., -1.03381538,
        -2.00978998,  0.6148496 ],
       [-0.79041827,  0.23144671, -0.90237498, ...,  0.22311512,
         0.48813418,  1.66050162],
       [-0.29301293, -0.77261046, -1.30495363, ..., -0.13648457,
         0.40330259,  1.41401959],
       ...,
       [-0.81932242,  1.59939616, -0.31422009, ..., -0.70548846,
         0.36737287,  1.53291384],
       [-0.92971308,  1.75702021, -0.27594966, ..., -0.74342066,
        -1.02508969,  0.02963718],
       [-1.22319016,  0.20051236, -0.48708444, ..., -0.66353987,
         0.9108762 ,  2.03422597]])

In [14]:
X.shape

(5250, 900)

In [15]:
test_data.shape

(2250, 900)

In [16]:
#Applying KNearestNeighbors
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X, Y)
Y_pred=knn.predict(test_data)

In [17]:
labels = pd.DataFrame(Y_pred, columns = ['labels'])

In [18]:
ids=pd.concat([ids,labels],axis=1,join='inner')

In [19]:
ids

        id  labels
0        1       1
1        2       0
2        3       0
3        4       0
4        5       0
...    ...     ...
2245  2246       0
2246  2247       0
2247  2248       1
2248  2249       0
2249  2250       1

[2250 rows x 2 columns]

In [20]:
#Converting final submission to csv file
ids.to_csv('knn(900,5,f_classif).csv',index=False)